<%- include('common/header', { title }) %>

    <style>
        body {
            background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
        }

        .form-page {
            width: 58%;
            display: flex;
            flex-direction: column;
            margin: auto;
            gap: 25px;
        }

        .btn {
            width: 40%;
            margin: auto;
        }

        input {
            border: none;
            border-bottom: 1px solid #000;
            background: transparent;
            outline: none;

            font-size: 14px;
        }

        .form-row {
            display: flex;
            justify-content: space-between;
        }

        .error {
            color: red;
            border: solid 1px red;
            outline: none;
        }

        .success {
            color: green;
            border: solid 1px green;
            outline: none;
        }
    </style>

        <% if (student.studentId) { %> 
            <form action="http://localhost:3001/student/<%= student.studentId %>" method="put" onsubmit="validate(event)">
        <% } else { %>
            <form action="http://localhost:3001/student" method="post" onsubmit="validate(event)">
        <% } %>
            <div class="form-page">
                <div class="form-row">
                    <label>Name :</label>
                    <input type="text" id="name" name="name" minlength="3" maxlength="15" value="<%= student.name %>">

                    <label>Age :</label>
                    <input type="number" id="age" name="age" value="<%= student.age %>">
                </div>

                <div class="form-row">
                    <label>Email :</label>
                    <input type="email" id="emailid" name="email" value="<%= student.email %>">

                    <label>Password:</label>
                    <input type="password" id="emailpassword" name="password" value="<%= student.password %>">
                </div>

                <div class="form-row">
                    <label>dob:</label>
                    <input type="date" id="date" name="dob" value="<%= student.dob?.toISOString().split('T')[0] %>">

                    <label>phoneNumber :</label>
                    <input type="number" id="telephone" name="phoneNumber" minlength="10" value="<%= student.phoneNumber %>">
                </div>


                <label>Address:</label>
                <textarea class="add" id="address" name="address"><%= student.address %></textarea>

                <label>Gender: </label>
                <div id="genderInput" class="gen">
                    <input type="radio" id="Male" name="gender" <%= student.gender === 'Male'?'checked':'' %>  value="Male">
                    <label for="Male">Male</label>
                    <input type="radio" id="Female" name="gender" <% if (student.gender === 'Female') { %> checked <% } %> value="Female">
                    <label for="Female">Female</label>
                </div>


                <% var subjectsArr = student.subjects ? student.subjects.split(',') : [] %>
                <label for="subjects">Select Subjects: </label>
                <select id="subjects" name="subjects" size="3" multiple>
                    <option value="">-- Select --</option>
                    <option <%= subjectsArr.includes('eng')?'selected':'' %>  value="eng">English</option>
                    <option <% if (subjectsArr.includes('cs')) { %> selected <% } %> value="cs">Computer Science</option>
                    <option <% if (subjectsArr.includes('maths')) { %> selected <% } %> value="maths"> Maths</option>
                    <option <% if (subjectsArr.includes('phy')) { %> selected <% } %> value="phy">Physics</option>
                </select>

                <label for="state">Choose a place:</label>
                <select id="state" name="place">
                    <option value="">-- Select --</option>
                    <option <%=(student.place === 'tamilnadu')?'selected':'' %> value="tamilnadu">Tamilnadu</option>
                    <option <% if (student.place === 'kerala') { %> selected <% } %> value="kerala">Kerala</option>
                    <option <% if (student.place === 'karnataka') { %> selected <% } %> value="karnataka">Karnataka</option>
                    <option <% if (student.place === 'andra') { %> selected <% } %> value="andra">Andhra Pradesh </option>
                </select>

                <% var clubsArr = student.club ? student.club.split(',') : [] %>
                <div class="Club-list" id="activities">
                    <h4>Select a clubs</h4>
                    <input type="checkbox" id="club1" name="club" <% if (clubsArr.includes('dance club')) { %> checked <% } %> value="dance club">
                    <label for="club1"> Dance Club</label>
                    <input type="checkbox" id="club2" <% if (clubsArr.includes('music club')) { %> checked <% } %> name="club" value="music club">
                    <label for="club2"> Music Club</label>
                    <input type="checkbox" <% if (clubsArr.includes('drama club')) { %> checked <% } %> id="club3" name="club" value="drama club">
                    <label for="club3"> Drama Club</label>
                    <input <% if (clubsArr.includes('painting club')) { %> checked <% } %> type="checkbox" id="club4" name="club" value="painting club">
                    <label for="club4"> Painting Club</label>
                </div>


                <input type="submit" value="Submit" class="btn">
                <input type="reset" value="Reset" class="btn">


            </div>
        </form>

        <script>
            function validate(event) {
               
                let isFormHasAnyError = false

                var studentName = document.getElementById("name")

                if ((studentName.value.length < 2)) {
                    studentName.classList = "error"
                    isFormHasAnyError = true
                } else {
                    studentName.classList = "success"
                }

                var studentage = document.getElementById("age")

                if (studentage.value < 18 || studentage.value > 30) {
                    studentage.classList = "error"
                    isFormHasAnyError = true
                } else {
                    studentage.classList = "success"
                }

                var studentEmail = document.getElementById("emailid")
                var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                if (studentEmail.value == "" || !(emailPattern)) {
                    studentEmail.classList = "error"
                    isFormHasAnyError = true
                } else {
                    studentEmail.classList = "success"
                }

                var studentPassword = document.getElementById("emailpassword")
                if (studentPassword.value.length < 4 || studentPassword === " ") {
                    studentPassword.classList = "error"
                    isFormHasAnyError = true
                } else {
                    studentPassword.classList = "success"
                }

                var studentdob = document.getElementById("date")
                if (studentdob.value.length == " ") {
                    studentdob.classList = "error"
                    isFormHasAnyError = true
                } else {
                    studentdob.classList = "success"
                }

                var studentNumber = document.getElementById("telephone")
                if (studentNumber.value.length === 10) {
                    studentNumber.classList = "success"
                } else {
                    isFormHasAnyError = true
                    studentNumber.classList = "error"
                }

                var studentAddress = document.getElementById("address")
               if (!(address.value)) {
                    studentAddress.classList = "error";
                    isFormHasAnyError = true
                } else {
                    studentAddress.classList = "success";
                }

                var studentGender = document.querySelectorAll('[name="gender"]:checked')
                if (studentGender.length === 0) {
                    document.querySelector('#genderInput').classList = "error"
                    isFormHasAnyError = true
                } else {
                    document.querySelector('#genderInput').classList = "success"
                }

                var studentclub = document.querySelectorAll('[name="club"]:checked')
                if (studentclub.length === 0) {
                    document.querySelector('#activities').classList = "error"
                    isFormHasAnyError = true
                } else {
                    document.querySelector('#activities').classList = "success"
                }

                var place = document.getElementById("state");

                if (place.value === "") {
                    place.className = "error";
                    isFormHasAnyError = true
                } else {
                    place.className = "success";
                }


                var subjects = document.getElementById("subjects");
                if (subjects.selectedIndex < 0) {
                    subjects.classList = "error"
                    isFormHasAnyError = true
                } else {
                    subjects.classList = "success"
                }


                if (isFormHasAnyError) {
                    event.preventDefault()
                }
            }






        </script>

        <%- include('common/footer') %>
    </body>

    </html>
